@use '~/styles/base/variables' as *;
@use '~/styles/base/mixins' as *;
@use '~/styles/base/functions' as *;

.root {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0 40px;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLink {
  font-weight: 700;
}
