@use '~/styles/base/variables' as *;
@use '~/styles/base/mixins' as *;
@use '~/styles/base/functions' as *;

.title {
  font-size: 64px;
  font-weight: 700;
}

.desc {
  font-size: 18px;
  margin-top: 40px;
}
