@use '~/styles/base/variables' as *;
@use '~/styles/base/mixins' as *;
@use '~/styles/base/functions' as *;

:root {
  width: 100%;

  // rem()で可変にする場合は下記を有効に
  // font-size: liquid_size(16);

  // @include mq() {
  //   font-size: vw_sp(16);
  // }
}

body {
  --mask-top: 100;
  --mask-bottom: 0;
}

img {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: auto;
}
